.my-content {
    margin-top: 5vh;
    margin-bottom: 20px;
}

.additional-content {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    height: auto;
    min-height: 400px;
}

@media (max-width: 576px) {
    .form-control {
        width: 100%;
    }
}

.btn-primary {
    width: 100%;
}

@media (min-width: 576px) {
    .thin-form {
        max-width: 400px;
        margin: auto;
    }
}