body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.input-area {
    margin-top: 5vh;
    margin-bottom: 20px;
}

.result-area {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    height: auto;
    min-height: 800px;
    resize: none;
}

.btn-primary {
    width: 100%;
}

.floating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-bottom: 20px;
    z-index: 999; /* Adjust the z-index as needed to ensure the button appears above other content */
}