<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Connections Puzzle Tracker</title>

    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='css/style.css')}}">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 thin-form">
                <!-- Your content goes here -->
                <div class="input-area">
                    <h1>Connections Puzzle Tracker</h1>
                    <form method="post" action="/" class="needs-validation" novalidate>
                        <div class="mb-3 form-group">
                            <label for="puzzleText" class="form-label">Enter puzzle result text here:</label>
                            <textarea class="form-control" name="puzzle_text" id="puzzleText" rows="9" required>{{ request.form['puzzle_text'] }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Parse Puzzle</button>
                    </form>
                </div>

                <!-- New content below the centered content -->
                <div class="result-area">
                    {% if puzzle_number is defined %}
                        <h2>Puzzle #{{ puzzle_number }} Results:</h2>
                        {% for category, is_correct in results.items() %}
                            <p>{{ category }}: {% if is_correct %}Correct{% else %}Incorrect{% endif %}</p>
                        {% endfor %}
                    {% elif error_message is defined %}
                        <h2>Error:</h2>
                        <p>{{ error_message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
